include ../../../shared/template/common.pug
.row.wrapper.border-bottom.white-bg.page-heading(*ngIf = 'model')
  .col-sm-4
    h2 {{model.firstName}} {{model.middleName}} {{model.lastName}}
    ol.breadcrumb
      li
        a(href='#/') Home
      li.active
        a(href='#/users') Users
      li.active
        strong {{model._id}}
  .col-sm-8
    .title-action
      button.btn.btn-primary((click)="openForm()")
        i.glyphicon.glyphicon-pencil.m-r-xs
        | Edit
      button.btn.btn-danger.m-l-xs((click)="remove()", *ngIf='!model.isLocked')
        i.glyphicon.glyphicon-remove.m-r-xs
        | Delete
.row(*ngIf = 'model')
  .col-xs-12
    .wrapper.wrapper-content
      .animated.fadeInRightBig
        .row
          .col-xs-3
            .ibox
              .ibox-content
                .center-block.clearfix
                  img.img-responsive.col-xs-12([src]='model.profilePic', height=350,  *ngIf='model.profilePic')
                  img.img-responsive(src= 'http://placehold.it/250X250?text=Upload+picture', *ngIf='!model.profilePic')

          .col-xs-9
            .ibox
              .ibox-content
                .row
                  .col-xs-6
                    ul.list-group.clear-list.m-t
                      li.list-group-item.first-item
                        span.pull-right {{ model._id}}
                        span.font-bold Username
                      li.list-group-item
                        span.pull-right {{ model.firstName}}
                        span.font-bold First name
                      li.list-group-item
                        span.pull-right {{ model.middleName}}
                        span.font-bold Middle name
                      li.list-group-item
                        span.pull-right {{ model.lastName}}
                        span.font-bold Last name
                      li.list-group-item
                        span.pull-right {{ model.gender}}
                        span.font-bold Gender
                      li.list-group-item
                        span.pull-right
                          span.label.label-success(*ngIf='model.isActive')
                            | Active
                          span.label.label-danger(*ngIf='!model.isActive')
                            | In Active
                        span.font-bold Status

                  .col-xs-6
                    ul.list-group.clear-list.m-t
                      li.list-group-item
                        span.pull-right {{ model.email}}
                        span.font-bold Email
                      li.list-group-item
                        span.pull-right {{ model.contactNumber}}
                        span.font-bold Contact Number
                      li.list-group-item
                        span.pull-right {{ model.dob | date | uppercase}}
                        span.font-bold Dob
                      li.list-group-item
                        span.pull-right {{ model.userGroup}}
                        span.font-bold User Group
                      li.list-group-item
                        span.pull-right {{ model.available.store.name}} | available to children: {{model.available.store.availableToChildren?'yes': 'no' }}
                        span.font-bold Store
                      li.list-group-item
                        span.pull-right
                          span.label.label-danger(*ngIf='model.isLocked')
                            | Yes
                          span.label.label-success(*ngIf='!model.isLocked')
                            | No
                        span.font-bold Is Locked?

        .row
          .col-xs-12
            .ibox
              .ibox-content
                h2.font-bold.m-b-xs Address
                .row
                  .col-xs-6
                    ul.list-group.clear-list.m-t
                      li.list-group-item.first-item
                        span.pull-right {{ model.address.addressLine1}}
                        span.font-bold Address Line 1
                      li.list-group-item.first-item
                        span.pull-right {{ model.address.addressLine2}}
                        span.font-bold Address Line 2
                      li.list-group-item
                        span.pull-right {{ model.address.town}}
                        span.font-bold Town/City


                  .col-xs-6
                    ul.list-group.clear-list.m-t
                      li.list-group-item
                        span.pull-right {{ model.address.county}}
                        span.font-bold County
                      li.list-group-item
                        span.pull-right {{ model.address.country}}
                        span.font-bold Country
                      li.list-group-item
                        span.pull-right {{ model.address.postcode}}
                        span.font-bold Postcode





