.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-4
    h2 Manage stores
    ol.breadcrumb
      li
        a(href='#/') Home
      li.active
        strong stores
  .col-sm-8
    .title-action
      button.btn.btn-primary((click)="openForm()") Create store
.row
  .col-lg-12
    .wrapper.wrapper-content
      .animated.fadeInRightBig
        .ibox
          .ibox-content
            store-list-grid

