include ../../../shared/template/common.pug
.row.wrapper.border-bottom.white-bg.page-heading(*ngIf = 'model')
  .col-sm-4
    h2 {{model.title}}
    ol.breadcrumb
      li
        a(href='#/') Home
      li.active
        a(href='#/product-features') Product features
      li.active
        strong {{model._id}}
  .col-sm-8
    .title-action
      button.btn.btn-primary((click)="openForm()")
        i.glyphicon.glyphicon-pencil.m-r-xs
        | Edit
      button.btn.btn-danger.m-l-xs((click)="remove()", *ngIf='!model.isLocked')
        i.glyphicon.glyphicon-remove.m-r-xs
        | Delete

.row(*ngIf = 'model')
  .col-xs-12
    .wrapper.wrapper-content
      .animated.fadeInRightBig
        .row
          .col-xs-12
            .ibox
              .ibox-content
                .row
                  .col-xs-6
                    ul.list-group.clear-list.m-t
                      li.list-group-item.first-item
                        span.pull-right {{ model._id}}
                        span.font-bold Feature name
                  .col-xs-6
                    ul.list-group.clear-list.m-t
                      li.list-group-item
                        span.pull-right {{ model.title}}
                        span.font-bold Title
