.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-4
    h2 Manage user groups
    ol.breadcrumb
      li
        a(href='#/') Home
      li.active
        strong user groups
  .col-sm-8
    .title-action
      button.btn.btn-primary((click)="openForm()") Create user group
.row
  .col-lg-12
    .wrapper.wrapper-content
      .animated.fadeInRightBig
        .ibox
          .ibox-content
            user-group-list-grid
